# This file defines the owners of the repository.
# GitHub uses this to automatically assign reviewers for Pull Requests.
# To enforce Pull Requests, you must enable Branch Protection in Settings.

# Global owners for all files
*       @binssente-crypto

# Backend specific owners
/backend/ @binssente-crypto

# Frontend specific owners
/frontend/ @binssente-crypto

# Workflow specific owners
/.github/workflows/ @binssente-crypto
